@model Budget.Mvc.Models.ViewModels.TransactionViewModel

<button id="addTransactionBtn">Add Transaction</button>
<button id="addCategoryMvcBtn">Add Category MVC</button>
<button id="manageCategoriesBtn">Manage Categories</button>

<button id="backToTransactionsBtn" class="d-none">Back To Transactions List</button>

<div id="addCategoryModal" class="modal fade" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <partial name="InsertCategory" />
    </div>
</div>

<div id="addTransactionModal" class="modal fade" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <partial name="InsertTransaction" />
    </div>
</div>

<div id="deleteTransactionModal" class="modal fade" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <partial name="DeleteTransaction" />
    </div>
</div>

<div id="deleteCategoryModal" class="modal fade" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <partial name="DeleteCategory" />
    </div>
</div>

<partial name="FilterForm" />

<table id="records" class="table">
    <thead>
        <tr>
            <th>
                Date
            </th>
            <th>
                Amount
            </th>
            <th>
                Name
            </th>
            <th>
                Category
            </th>
            <th>
                Type
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var transaction in Model.Transactions)
        {
        <tr class="list-row">
            <td class="d-none">
                @Html.DisplayFor(modelItem => transaction.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => transaction.Date)
            </td>
            <td>
                @Html.DisplayFor(modelItem => transaction.Amount)
            </td>
            <td>
                @Html.DisplayFor(modelItem => transaction.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => transaction.Category)
            </td>
            <td class="d-none">
                @Html.DisplayFor(modelItem => transaction.CategoryId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => transaction.TransactionType)
            </td>
            <td class="d-none">
                @transaction.TransactionType
            </td>
            <td>
                <button type="button" class="btn btn-danger deleteTransactionBtn">
                    Delete
                </button>

                <button type="button" class="btn btn-primary updateTransactionBtn">
                    Edit
                </button>
            </td>
        </tr>
        }
    </tbody>
</table>

<table id="categories" class="table d-none">
    <thead>
        <tr>
            <th>
                Name
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var category in Model.Categories)
        {
            <tr class="list-row">
                <td class="d-none">
                    @Html.DisplayFor(modelItem => category.Id)
                </td>
               
                <td>
                    @Html.DisplayFor(modelItem => category.Name)
                </td>
              
                <td>
                    <button type="button" class="btn btn-danger deleteCategoryBtn">
                        Delete
                    </button>

                    <button type="button" class="btn btn-primary updateCategoryBtn">
                        Edit
                    </button>
                </td>
            </tr>
        }
    </tbody>
</table>

@section scripts{
    <script>
        $("#addCategoryBtn").on("click", function () {
            $("#addCategoryModal").modal("show");
        });

        $("#addCategoryBtn").on("click", function () {
            $("#addCategoryModal").modal("show");
        });

        $("#addTransactionBtn").on("click", function () {
              $("#addTransactionModal").modal("show");
        });

        $(".deleteTransactionBtn").on("click", function () {
            var id = $(this).closest('tr').find('td:first').html();
            $('#deleteTransactionForm').append(`<input type="hidden" name="id" value="${id}">`);
            $("#deleteTransactionModal").modal("show");
        });

        $(".deleteCategoryBtn").on("click", function () {
            var id = $(this).closest('tr').find('td:first').html();
            $('#deleteCategoryForm').append(`<input type="hidden" name="id" value="${id}">`);
            $("#deleteCategoryModal").modal("show");
        });

        $(".updateTransactionBtn").on("click", function () {
            var id = $(this).closest('tr').find('td:first').html();
            var date = $(this).closest('tr').find('td:eq(1)').html();
            var amount = $(this).closest('tr').find('td:eq(2)').html();
            var name = $(this).closest('tr').find('td:eq(3)').html();
            var categoryId = $(this).closest('tr').find('td:eq(5)').html();
            var transactionType = $(this).closest('tr').find('td:eq(6)').html();

            $('#insert-transaction-form #Id').val($.trim(id));
            $('#insert-transaction-form #Date').val($.trim(date));
            $('#insert-transaction-form #Amount').val($.trim(amount));
            $('#insert-transaction-form #Name').val($.trim(name));
            $(`#insert-transaction-form #CategoryId option[value=${categoryId}]`).attr('selected', 'selected');
            $('#insert-transaction-form #TransactionType').find(`option:contains('${$.trim(transactionType)}')`).attr('selected', 'selected');

            $("#addTransactionModal").modal("show");
        });

        $(".updateCategoryBtn").on("click", function () {
            var id = $(this).closest('tr').find('td:first').html();
            var name = $(this).closest('tr').find('td:eq(1)').html();

            console.log(name);

            $('#insert-category-form #Category_Id').val($.trim(id));
            $('#insert-category-form #Category_Name').val($.trim(name));

            $("#addCategoryModal").modal("show");
        });

        $("#manageCategoriesBtn").on("click", function () {
            console.log('clicked');
            $("#categories").removeClass("d-none");
            $("#backToTransactionsBtn").removeClass("d-none");
            $("#records").addClass("d-none");
            $("#addTransactionBtn").addClass("d-none");
            $("#addCategoryMvcBtn").addClass("d-none");
            $("#manageCategoriesBtn").addClass("d-none");
        });

        $("#backToTransactionsBtn").on("click", function () {
            console.log('clicked');
            $("#categories").addClass("d-none");
            $("#backToTransactionsBtn").addClass("d-none");
            $("#records").removeClass("d-none");
            $("#addTransactionBtn").removeClass("d-none");
            $("#addCategoryMvcBtn").removeClass("d-none");
        });

        


    </script>
}

