@model Budget.Mvc.Models.ViewModels.TransactionViewModel

<button id="addTransactionBtn">Add Transaction</button>
<button id="addCategoryMvcBtn">Add Category MVC</button>


<div id="addCategoryMvcModal" class="modal fade" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <partial name="InsertCategory" />
    </div>
</div>


<div id="addTransactionModal" class="modal fade" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <partial name="InsertTransaction" />
    </div>
</div>

<div id="deleteCategoryModal" class="modal fade" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <partial name="DeleteTransaction" />
    </div>
</div>

<table id="records" class="table">
    <thead>
        <tr>
            <th>
                Date
            </th>
            <th>
                Amount
            </th>
            <th>
                Name
            </th>
            <th>
                Category
            </th>
            <th>
                Type
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var transaction in Model.Transactions)
        {
        <tr class="list-row">
            <td class="d-none">
                @Html.DisplayFor(modelItem => transaction.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => transaction.Date)
            </td>
            <td>
                @Html.DisplayFor(modelItem => transaction.Amount)
            </td>
            <td>
                @Html.DisplayFor(modelItem => transaction.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => transaction.Category)
            </td>
            <td>
                @transaction.TransactionType.ToDescription()
            </td>
            <td>
                <button id="deleteTransactionBtn" type="button" class="btn btn-danger">
                    Delete
                </button>

                <button type="button" class="btn btn-primary" asp-area="Budget" asp-route-id="@transaction.Id">
                    Edit
                </button>
            </td>
        </tr>
        }
    </tbody>
</table>

@section scripts{
    <script>
        $("#addCategoryBtn").on("click", function () {
            $("#addCategoryModal").modal("show");
        });

        $("#addCategoryMvcBtn").on("click", function () {
            $("#addCategoryMvcModal").modal("show");
        });

        $("#addTransactionBtn").on("click", function () {
            $.ajax({
                url: "@Url.Action("PrepareTransactionForm", "Home")",
                success: function (data) {
                    $("#addTransactionModal .modal-dialog").html(data);
                    $("#addTransactionModal").modal("show");

                    $("form").removeData("validator");
                    $("form").removeData("unobtrusiveValidation");
                    $.validator.unobtrusive.parse("form");
                }
            });
        });

        $("#deleteTransactionBtn").on("click", function () {
            var id = $(this).closest('tr').find('td:first').html();
            $('#deleteTransactionForm').append(`<input type="hidden" name="id" value="${id}">`);
            $("#deleteCategoryModal").modal("show", {id: id});
        });


    </script>
}